@import 'styles/utils';

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  position: fixed;

  @include place-at-center();

  &.blue {
    background: blue;
  }

  &:active {
    background: yellow;
  }

  &:hover {
    background: red;
  }

}

.box-inside {
  display: inline-block;
  width: $size;
  height: $size;
  border: 1px solid black;
}
