.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* Sass 사용하면 아래와 같이 선언하지 않아도 된다. */
.box:hover {
  background: red;
}

.box:active {
  background: yellow;
}

.blue {
  background: blue;
}